In [0]:
from google.colab import files
uploaded = files.upload()

Saving states_all.csv to states_all.csv

In [0]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')
data = pd.read_csv("states_all.csv")

In [0]:
data.info()
data.isnull().sum()*100/data.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

PRIMARY_KEY                       0.000000
STATE                             0.000000
YEAR                              0.000000
ENROLL                           40.114379
TOTAL_REVENUE                    34.509804
FEDERAL_REVENUE                  34.509804
STATE_REVENUE                    34.509804
LOCAL_REVENUE                    34.509804
TOTAL_EXPENDITURE                34.509804
INSTRUCTION_EXPENDITURE          34.509804
SUPPORT_SERVICES_EXPENDITURE     34.509804
OTHER_EXPENDITURE                40.114379
CAPITAL_OUTLAY_EXPENDITURE       34.509804
GRADES_PK_G                      11.219196
GRADES_KG_G                       5.085784
GRADES_4_G                        5.085784
GRADES_8_G                        5.085784
GRADES_12_G                       5.085784
GRADES_1_8_G                     68.137255
GRADES_9_12_G                    60.130719
GRADES_ALL_G                      5.085784
AVG_MATH_4_SCORE                203.539823
AVG_MATH_8_SCORE                184.883721
AVG_READING_4_SCORE             163.846154
AVG_READING_8_SCORE             205.160142
dtype: float64

In [0]:
data.head(15)

                  PRIMARY_KEY  ... AVG_READING_8_SCORE
0                1992_ALABAMA  ...                 NaN
1                 1992_ALASKA  ...                 NaN
2                1992_ARIZONA  ...                 NaN
3               1992_ARKANSAS  ...                 NaN
4             1992_CALIFORNIA  ...                 NaN
5               1992_COLORADO  ...                 NaN
6            1992_CONNECTICUT  ...                 NaN
7               1992_DELAWARE  ...                 NaN
8   1992_DISTRICT_OF_COLUMBIA  ...                 NaN
9                1992_FLORIDA  ...                 NaN
10               1992_GEORGIA  ...                 NaN
11                1992_HAWAII  ...                 NaN
12                 1992_IDAHO  ...                 NaN
13              1992_ILLINOIS  ...                 NaN
14               1992_INDIANA  ...                 NaN

[15 rows x 25 columns]

Total_Revenue, Federal_Revenue, State_Revenue, Local_Revenue, Total_Expenditure, Instruction_Expenditure, SUPPORT_SERVICES_EXPENDITURE, CAPITAL_OUTLAY_EXPENDITURE,